// ============
// 背景樣式
// ============

/* 背景圖片 */
.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ============
// 主視覺樣式
// ============

/* 主頁橫幅 */
.profile {
  display: flex;
  &-photo {
    display: block;
    width: 50%;
    min-height: 375px;
  }
  &-info {
    flex-grow: 1;
    padding: 300px 80px;
    background-image: url('../img/hero_section2.png');
    color: $blue;
  }
  &-title {
    margin-bottom: 12px;
  }
}

@media (max-width: 1199px) {
  /* 主頁橫幅RWD */
  .profile {
    display: block;
    &-photo,
    &-info {
      width: 100%;
      text-wrap: nowrap;
    }
    &-info {
      padding: 24px 34px 184px 24px;
    }
    &-title {
      font-size: $_font-size-3xl;
    }
  }
}

@media (max-width: 767px) {
  /* 主頁橫幅RWD */
  .profile {
    &-info {
      min-height: 356px;
      padding-bottom: 0;
    }
    &-title {
      font-size: 3.25rem;
    }
  }
}

// ============
// 裝飾性元素
// ============

/* 橫線裝飾 */
.line-decor {
  width: 40px;
  height: 40px;
  padding: 18.75px 5px;
  &:before {
    content: '';
    display: block;
    height: 2.5px;
    background-color: $blue;
    border-radius: 5px;
  }
}
