// =================
// Background style
// =================

/* Background image */
.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ====================
// Decorative elements
// ====================

/* Horizontal line decoration */
.line-decor {
  width: 40px;
  height: 40px;
  padding: 18.75px 5px;
  &:before {
    content: '';
    display: block;
    height: 2.5px;
    background-color: $primary;
    border-radius: 5px;
  }
}

// =====================
// Common UI components
// =====================

/* Button */
.custom-btn {
  padding: 8px 16px;
  border-radius: $border-radius;
  text-align: center;
}

.btn-outline-gray {
  color: $gray-500;
  border: 1px solid $gray-500;
  &:hover {
    color: $white;
    background-color: $gray-500;
  }
}

.btn-outline-blue {
  color: $primary;
  border: 1px solid $primary;
  background-color: $white;
  &:hover {
    color: $white;
    background-color: $primary;
  }
}

.btn-outline-dark-gray {
  color: $gray-500;
  border: 1px solid $black;
  &:hover {
    background-color: $gray-400;
    border: 1px solid $gray-400;
  }
}

/* Status tag */
.status-tag {
  padding: 6px 12px;
  border-radius: $border-radius;
  color: $white;
  background-color: $primary;
  &:hover {
    cursor: default;
  }
}

/* Scroll to top button */
.scrollTopBtn {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
  cursor: pointer;
  color: #b2bef2;
  background-color: transparent;
  font-size: $_font-size-lg;
  &:hover {
    color: $primary;
    transform: scale(1.2);
  }
}

// =====================
// Section shared style
// =====================

/* Hero section banner */
.banner-section {
  display: flex;
  &-left {
    display: block;
    width: 50%;
    min-height: 375px;
  }
  &-right {
    flex-grow: 1;
    min-height: 356px;
    padding: 300px 80px;
    background-image: url('../img/hero_section2.png');
  }
  &-title {
    margin-bottom: 12px;
    font-size: calc(((100vw / 2) - 160px) / 6.666);
  }
}

/* Latest post banner */
.latest-section {
  display: flex;
  gap: 24px;
  border-top: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;
  &-img {
    display: block;
    width: 50%;
    min-height: 375px;
  }
  &-content {
    max-width: 636px;
    padding: 80px 120px 80px 0px;
    .custom-btn {
      max-width: 98px;
    }
  }
}

/* Contact footer */
.contact-footer-icon:hover {
  transform: translateY(-3px);
}

@media (max-width: 1199px) {
  /* Hero section banner RWD */
  .banner-section {
    display: block;
    &-left,
    &-right {
      width: 100%;
    }
    &-right {
      padding: 24px 34px 200px 24px;
      &-custom {
        min-height: 180px;
        padding-bottom: 48px;
      }
    }
    &-title {
      font-size: $_font-size-xxl;
    }
  }
}

@media (max-width: 767px) {
  /* Hero section banner RWD */
  .banner-section {
    &-right-custom {
      padding-bottom: 24px;
    }
    &-title {
      font-size: 3.25rem;
    }
  }

  /* Latest post banner RWD */
  .latest-section {
    display: block;
    &-img,
    &-content {
      width: 100%;
    }
    &-content {
      padding: 48px 12px;
    }
  }
}
