// ============
// 背景樣式
// ============

/* 背景圖片 */
.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ============
// 裝飾性元素
// ============

/* 橫線裝飾 */
.line-decor {
  width: 40px;
  height: 40px;
  padding: 18.75px 5px;
  &:before {
    content: '';
    display: block;
    height: 2.5px;
    background-color: $primary;
    border-radius: 5px;
  }
}

// ============
// 主視覺樣式
// ============

/* 主頁橫幅 */
.banner-section {
  display: flex;
  &-left {
    display: block;
    width: 50%;
    min-height: 375px;
  }
  &-right {
    flex-grow: 1;
    padding: 300px 80px;
    background-image: url('../img/hero_section2.png');
  }
  &-title {
    margin-bottom: 12px;
  }
}

@media (max-width: 1199px) {
  /* 主頁橫幅RWD */
  .banner-section {
    display: block;
    &-left,
    &-right {
      width: 100%;
    }
    &-right {
      padding-top: 24px;
      padding-left: 24px;
      padding-right: 24px;
    }
    &-title {
      font-size: $_font-size-3xl;
    }
  }
}

@media (max-width: 767px) {
  /* 主頁橫幅RWD */
  .banner-section {
    &-right {
      min-height: 356px;
      padding-bottom: 0;
    }
    &-title {
      font-size: 3.25rem;
    }
  }
}

// ===============
// 部落格樣式
// ===============

/* 部落格卡片列表 */
.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 calc((100% - 24px * 2) / 3);
  &-img {
    width: 100%;
  }
  &-date {
    margin-top: 16px;
    margin-bottom: 4px;
  }
  &-hashtag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    color: $primary;
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &-title {
    flex-grow: 1;
    margin-bottom: 8px;
  }
  &-description {
    color: $gray-500;
    margin-bottom: 16px;
  }
}

@media (max-width: 1199px) {
  /* 部落格卡片列表RWD */
  .blog-card {
    flex: 0 0 calc((100% - 24px) / 2);
  }
}

@media (max-width: 768px) {
  /* 部落格卡片列表RWD */
  .blog-card {
    flex: 0 0 100%;
  }
}

// ============
// 通用元件
// ============

/* 按鈕 */
.custom-btn {
  padding: 8px 16px;
  border-radius: $border-radius;
  text-align: center;
}

.btn-outline-gray {
  color: $gray-500;
  border: 1px solid $gray-500;
  &:hover {
    color: $white;
    background-color: $gray-500;
  }
}

.btn-outline-blue {
  color: $primary;
  border: 1px solid $primary;
  &:hover {
    color: $white;
    background-color: $primary;
  }
}

/* 狀態標籤 */
.status-tag {
  padding: 6px 12px;
  border-radius: $border-radius;
  color: $white;
  background-color: $primary;
  &:hover {
    cursor: default;
  }
}

/* 回頂部按鈕 */
.scrollTopBtn {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
  cursor: pointer;
  color: #b2bef2;
  background-color: transparent;
  font-size: $_font-size-xl;
  &:hover {
    color: $primary;
    transform: scale(1.2);
  }
}
