// 頁首
.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 24px 0;
  background-color: $gray-100;
  &-link {
    color: #000;
    font-weight: bold;
    &:hover {
      color: $primary;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    position: static;
  }
}

// 頁面結構
.section-wrapper {
  padding: 80px 12px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 64px 12px;
  }
}

// 頁尾
