// 頁首
.sticky-nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 100;
  padding: 24px 0;
  background-color: $gray-100;
  &-list {
    &-link {
      color: #000;
      font-weight: bold;
      &:hover {
        color: $primary;
      }
    }
  }
}

// 頁面結構
.section-wrapper {
  padding: 80px 12px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

.post-wrapper {
  max-width: 636px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  // 頁首RWD
  .nav {
    position: static;
  }

  // 頁面結構RWD
  .section-wrapper {
    padding: 64px 12px;
  }
}
