// 頁首
.nav {
  padding: 24px 0;
  &-link {
    color: #000;
    font-weight: bold;
    &:hover {
      color: $primary;
    }
  }
}

// 頁面結構
.section-wrapper {
  padding: 80px 12px;
}

.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 64px 12px;
  }
}

// 頁尾
